@media screen and (max-width: 599px) {
    .featured-examples {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        font-size: 4.8vw;
    }

    .featured-pics {
        width: 70%;
    }

    .featured-title {
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    header {
        padding: 3.5vmin 1.5vmin 3.5vmin 1.5vmin;
    }

    .featured-examples {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 4.2vw;
        margin-top: 0;
    }

    .featured-work-item-1, .featured-work-item-2, .featured-work-item-3 {
        width: calc((100% - 20px) / 3);
        margin-right: 10px;
        min-height: 100%;
    }

    .featured-work-item-3 {
        margin-right: 0;
    }

    .featured-title {
        margin-left: 1.5vw;
        font-size: 5vw;
        margin-bottom: 0.25em;
    }

    p {
        margin-top: 0;
    }
}

@media screen and (min - width: 800px) {
    body, header, main {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    
    header {
        padding: 3vmin 1vmin 3vmin 1vmin;
    }
    
    .header-title {
        font-size: 3.8em;
    }

    .header-sub-title {
        font-size: 2em;
    }

    .featured-title {
        margin-left: 0.5vw;
        font-size: 2.5em;
    }

    .featured-examples {
        font-size: 1.8em;
    }
}
