body,
html {
    margin: 0;
    padding: 0;
    width: 100 %;
    height: 100 %;
}

header,
body,
nav,
footer,
section {
    box - sizing: border - box;
    font - family: 'Questrial', sans - serif;
}

img {
    max - width: 100 %;
}

header {
    display: flex;
    width: 100 %;
    border - bottom: 5 px solid #7d97ad;
    margin-bottom: 10px;
    padding: 5vmin 2vmin 5vmin 2vmin;
}

.title {
    width: 85%;
    ;
}

.header-logo {
    width: 15%;
    height: auto;
    background-image: url("images/udacity.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-title,
.header-sub-title {
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    color: # 2 d3c49;
}

.header - title {
    font - size: 7.4 vw;
}

.header - sub - title {
    font - size: 4 vw;
}

.featured - title {
    color: #7d97ad;
}

.featured-examples {
    text-transform: uppercase;
    text-align: center;
}
